version: '3.8'

services:
  bot:
    build: .
    container_name: squash-bot
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./src:/app/src
    command: npm run dev
    environment:
      - NODE_ENV=development

